# Project Description 
You work for the Ice online store that sells video games all over the world. User and expert reviews, genres, platforms (e.g. Xbox or PlayStation) and historical data on game sales are available from open sources. You have to identify patterns that determine whether a game is successful or not. This will allow you to spot promising projects and plan advertising campaigns.

In front of you is data going back to 2016. Let's imagine it's December 2016 and you're planning a campaign for 2017.

The important thing is to gain experience working with data. It doesn't really matter if you are forecasting 2017 sales based on 2016 data or 2027 sales based on 2026 data.

The dataset contains a “rating” column that stores the ESRB rating for each game. The Entertainment Software Rating Board (the Entertainment Software Rating Board) evaluates a game's content and assigns an age rating such as Teen or Adult.

# Instructions to complete the project

## Step 1 - Cleaning the data 
Replace the column names (put them in lowercase).
Convert the data into the necessary types.
Describe the columns where the data types have been changed and explain why.
If necessary, choose how to deal with missing values:
+ Explain why you filled in the missing values as you did or why you decided to leave them blank.
+ Why do you think the values are missing? Provide possible explanations.
+ Pay attention to the abbreviation TBD: it stands for “to be determined”. Specify how you plan to handle these cases.

Calculate the total sales (the sum of sales in all regions) for each game and place these values in a separate column.

## Step 2 - Analize the Data
- Look at how many games were released in different years. Is the data for each period significant?
- Look at how sales vary from platform to platform. Choose the platforms with the highest total sales and construct a distribution based on each year's data. Look for platforms that used to be popular but now have no sales. How long does it generally take for new platforms to appear and old platforms to disappear?
- Determine for which period you should take data. To do this look at your answers to the questions above. The data should allow you to build a model for 2017.
- Work only with the data you consider relevant. Ignore data from previous years.
- Which platforms are leading in sales? Which are growing and which are shrinking? Choose several potentially profitable platforms.
- Create a box plot for the overall sales of all games, broken down by platform. Are the differences in sales significant? What about average sales on various platforms? 

Describe your findings.
- Look at how user and professional reviews affect sales on a popular platform (your choice). Create a scatter plot and calculate the correlation between reviews and sales. Draw conclusions.
- Based on your conclusions compare the sales of the same games on other platforms.
- Take a look at the overall distribution of games by genre. What can you say about the most profitable genres? Can you generalize about the genres with high and low sales?

## Step 3 - Create a profile for each region 
For each region (NA, EU, JP) determine:

- The top five platforms. Describe the variations in their market shares from region to region.
- The top five genres. Explain the difference.
- Whether ESRB ratings affect sales in individual regions.

## Step 4 - Test the following hypothesis  
- Average user ratings for Xbox One and PC platforms are the same.

- Average user ratings for Action and Sports genres are different.

Set the alpha threshold value yourself.

Explain:

- How you formulated the null and alternative hypotheses.

- What criteria you used to test the hypotheses and why.

# Libraries to use

In [1]:
# Library for Data Wrangling 
import pandas as pd 
import numpy as np 
# Library for statistical analysis 
from scipy import stats as st 
import math as mt
# Library for data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Load Dataset

In [2]:
video_games = pd.read_csv('games.csv')
# Show dataset 
video_games.head(10)

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,23.20,2.26,4.22,0.58,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,11.28,9.14,6.50,2.88,89.0,8.5,E
7,Wii Play,Wii,2006.0,Misc,13.96,9.18,2.93,2.84,58.0,6.6,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,14.44,6.94,4.70,2.24,87.0,8.4,E
9,Duck Hunt,NES,1984.0,Shooter,26.93,0.63,0.28,0.47,NaN,NaN,NaN

## Data description 
- *Name* (Name)

- *Platform* (Platform)

- *Year_of_Release* (Year of release)

- Genre

- NA_sales* (North American sales in millions of US dollars)

- EU_sales* (European sales in millions of U.S. dollars)

- JP_sales* (sales in Japan in millions of US dollars)

- Other_sales* (sales in other countries in millions of US dollars)

- Critical_Score* (maximum of 100)

- User_Score* (maximum of 10)

- *Rating* (ESRB)

Data for 2016 may be incomplete.

# Data Preprocessing

In [3]:
# General info of dataset 
video_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

In [4]:
# Verify if there are any duplicates 
print(f'This dataset has {video_games.duplicated().sum()} duplicates')

# Convert the names of the columns to lowercase 
video_games.columns = video_games.columns.str.lower()

# Fill the Nan with the string 'Unknown' 
video_games.fillna({'name':'Unknown'}, inplace=True)
video_games.fillna({'genre':'Unknown'}, inplace=True)

This dataset has 0 duplicates

In [5]:
# Calculate total sales 
video_games['total_sales'] = video_games['eu_sales'] + video_games['jp_sales'] + video_games['na_sales'] + video_games['other_sales']
# Show dataset with the total sales 
video_games

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating,total_sales
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E,82.54
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E,35.52
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E,32.77
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN,31.38
...,...,...,...,...,...,...,...,...,...,...,...,...
16710,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,0.00,0.00,0.01,0.00,NaN,NaN,NaN,0.01
16711,LMA Manager 2007,X360,2006.0,Sports,0.00,0.01,0.00,0.00,NaN,NaN,NaN,0.01
16712,Haitaka no Psychedelica,PSV,2016.0,Adventure,0.00,0.00,0.01,0.00,NaN,NaN,NaN,0.01
16713,Spirits & Spells,GBA,2003.0,Platform,0.01,0.00,0.00,0.00,NaN,NaN,NaN,0.01
16714,Winning Post 8 2016,PSV,2016.0,Simulation,0.00,0.00,0.01,0.00,NaN,NaN,NaN,0.01

# Exploratory Analysis

## Games released through the years

In [9]:
# Count the games released each year
games_per_year = video_games['year_of_release'].value_counts().sort_values(ascending=False)
games_per_year

year_of_release
2008.0    1427
2009.0    1426
2010.0    1255
2007.0    1197
2011.0    1136
2006.0    1006
2005.0     939
2002.0     829
2003.0     775
2004.0     762
2012.0     653
2015.0     606
2014.0     581
2013.0     544
2016.0     502
2001.0     482
1998.0     379
2000.0     350
1999.0     338
1997.0     289
1996.0     263
1995.0     219
1994.0     121
1993.0      62
1981.0      46
1992.0      43
1991.0      41
1982.0      36
1986.0      21
1989.0      17
1983.0      17
1990.0      16
1987.0      16
1988.0      15
1985.0      14
1984.0      14
1980.0       9
Name: count, dtype: int64